body {
  margin: 0;
  padding: 0;
}
h1 {
  color: #FAC2C2;
  text-align: center;
}
.login {
  width: 100%;
  height: 100vh;
  background-image: url("./images/higo.jpg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: top;
  background-position-y: 15%;
  text-align: center;
  line-height: 500px;
  padding: 70px 0;
}
.footer {
  padding: 10px;
  background-color: #C7E0F4;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 70%;
}
.column2 {
  float: right;
  width: 30%;
}